@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
        --white: hsl(0, 0%, 100%);
        --cyan:hsl(172, 67%, 45%);
        --darkCyan: hsl(183, 100%, 15%);
        /* Dark grayish cyan*/
        --bayoux: hsl(186, 14%, 43%);
        --ziggurat: hsl(184, 14%, 56%);
        /*Light grayish cyan*/
        --onahau: hsl(185, 41%, 84%);
        --azure: hsl(189, 41%, 97%);
}
